* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #db4d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.btn {
    width: 110px;
    height: 50px;
    background-color: #e20901;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    list-style: none;
    margin-top: 100px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.btn2 {
    width: 110px;
    height: 50px;
    background-color: #e20901;
    border-radius: 20px;
    margin-right: 100px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;   
    top:600px;
    
}
/* @keyframes btnmove{
    0%{
        transform: opacity 0.1;
    }
    100%{
        transform: opacity 1;

    }
}
 */
.monster {
    width: 110px;
    height: 100px;
    background-color: #db5955;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: jumping 0.8s infinite alternate;
}

.monster .eye {
    width: 40%;
    height: 40%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.monster .eye .eyeBall {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #0c4475;
    animation: eyejumping 1s infinite alternate;
}

.monster .mouth {
    width: 32%;
    height: 12px;
    border-radius: 12px;
    background-color: #fff;
}

.monster::before,
.monster::after {
    position: absolute;
    display: block;
    content: "";
    width: 20%;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    top: -10%;
    left: 50%;
}

.monster::before {
    transform: translate(-70%) rotate(45deg);
}

.monster::after {
    transform: translate(-30%) rotate(-45deg);
}

.monster.blue {
    background-color: #0c4475;
    animation-delay: 0.5s;
}

.monster.blue .eyeBall,
.monster.blue .mouth {
    background-color: #db4d6d;
}

@keyframes jumping {
    50% {
        top: 0;
        box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1)
    }

    100% {
        top: -50px;
        box-shadow: 0 120px 20px 3px rgba(0, 0, 0, 0.1)
    }
}

@keyframes eyejumping {

    0%,
    10% {
        transform: translate(50%);
    }

    90%,
    100% {
        transform: translate(-50%);
    }
}

.pageloading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    background-color: #0c4475;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s .1s;
    flex-direction: column;

}

.pageloading .loading {
    width: 200px;
    height: 8px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    overflow: hidden;

}

.pageloading .loading .bar {
    width: 0;
    height: 100%;
    background-color: #db5955;
}

.pageloading.complete {
    opacity: 0;
}

.pageloading.complete .monster {
    transform: scale(0) rotateZ(360deg);
    transition: 0.5s;
    box-shadow: none;
}